*{
    box-sizing: border-box;
    margin:0;
    font-family: arial,sans-serif;
}

nav{
    
    display: flex;
    justify-content: space-between;
    
}

nav > div{
    margin: 10px;
    
}

nav > div > *{
    margin: 10px;
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 109px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Iniciar{
   
    padding: 5px;
    color: white;
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
   
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    width: 482px;
    border-radius: 20px;
    border: 1px solid  #dfe1e5;
    color: rgba(0,0,0,.87);
    font-size: 16px;
}
.input-container input{
    all:unset;
    flex:1
}
.buscar{
    opacity: 0.35;
    height: 20px;
    width: 20px;
}
.microfono{
    width: 24px;
    height: 24px;
}
.btn{
    padding: 10px;
    margin: 30px 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    height: 36px;
    min-width: 54px;
}

.btn:hover{
    cursor: pointer;
    color: black;
}
.main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main{
    flex:1
}
a{
    all:unset;  
    font-size: 13px;
    
}
a:hover{
    
    cursor: pointer;
    
}
p >a{
  all:unset;
  color: rgb(26, 13, 171);
  font-size: 13px;
}

img{
    margin: 20px;
}

.idiomas{
    font-size: 13px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    color: rgba(0,0,0,.54);
    padding-left: 27px;
    line-height: 40px;
}

